{lib_dirs,[".."]}.
{deps_dir,["deps"]}.
{deps,[
%    {forms, "*", {git, "git://github.com/efcasado/forms.git",        {tag, "master"}}}
]}.

{erlydtl_opts,[
    {compiler_options,[debug_info]},
	[
    	    {doc_root, "priv"},
            {out_dir, "ebin"},
            {source_ext, ".dtl"},
            {module_ext, "_dtl"}
        ]
]}.
